
.container{
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
    margin-top: 50px;
    margin-bottom: 50px;

}


.cards{
    width: 28%;
    border: 2px solid black;
    border-radius: 12px;
    padding: 20px;
    /* margin-top: 10px; */
}